@if (isViewNote) {
<div (click)="closeViewNotePopup()" id="popup"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div
    class="relative w-full max-w-md mx-4 px-4 py-6 bg-white rounded-lg shadow-md dark:bg-gray-800 sm:max-w-lg sm:px-6 sm:py-8"
    (click)="$event.stopPropagation()">
    <button (click)="closeViewNotePopup()"
      class="absolute p-2 text-gray-500 transition-colors duration-200 rounded-full top-3 right-3 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-100">
      <i class="text-lg fas fa-times"></i>
    </button>
    <h3 class="text-xl font-semibold text-center text-gray-800 dark:text-white sm:text-2xl">Your Note</h3>
    <form [formGroup]="updateNoteForm" class="mt-6">
      <div>
        <input formControlName="title" type="text" placeholder="Enter note title"
          class="w-full p-2 text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
      </div>
      <div class="mt-4">
        <textarea formControlName="content"
          class="w-full p-2 text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          rows="5" placeholder="Enter note content"></textarea>
      </div>
      <div class="flex flex-col mt-6 space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
        <button (click)="updateNote()"
          class="w-full px-4 py-2 text-white transition-all transform bg-yellow-600 rounded-lg hover:bg-yellow-700 sm:w-auto">
          <i class="mr-2 fa fa-edit"></i>
          Update
        </button>
        <button (click)="openDeletePopup()"
          class="w-full px-4 py-2 text-white transition-all transform bg-red-600 rounded-lg hover:bg-red-700 sm:w-auto">
          <i class="mr-2 fa fa-trash"></i>
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
}

@if (isDeletePopupOpen) {
<div (click)="closeDeletePopup()" id="deletePopup"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div
    class="relative w-full max-w-sm mx-4 px-4 py-6 bg-white rounded-lg shadow-md dark:bg-gray-800 sm:max-w-md sm:px-6 sm:py-8"
    (click)="$event.stopPropagation()">
    <button (click)="closeDeletePopup()"
      class="absolute p-2 text-gray-500 transition-colors duration-200 rounded-full top-3 right-3 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-100">
      <i class="text-lg fas fa-times"></i>
    </button>
    <div class="flex flex-col items-center">
      <i class="text-4xl text-red-600 fas fa-exclamation-circle dark:text-red-400"></i>
      <h3 class="mt-2 text-xl font-semibold text-gray-800 dark:text-white">
        Are You Sure?
      </h3>
      <p class="mt-1 text-center text-gray-600 dark:text-gray-300">
        Do you really want to delete this note? This action cannot be undone.
      </p>
    </div>
    <div class="flex flex-col mt-6 space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
      <button (click)="confirmDelete()"
        class="w-full px-4 py-2 text-white bg-red-600 rounded-lg hover:bg-red-700 sm:w-auto">
        <i class="mr-2 fas fa-trash-alt"></i>
        Yes, Delete
      </button>
      <button (click)="closeDeletePopup()"
        class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg hover:bg-gray-300 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 sm:w-auto">
        <i class="mr-2 fas fa-times"></i>
        No, Cancel
      </button>
    </div>
  </div>
</div>
}