<div class="flex flex-col items-center justify-center min-h-screen bg-gray-50 dark:bg-gray-900">
  <div class="fixed top-4 right-4">

    <!-- Dark/Light Mode Toggle -->
    <app-mode></app-mode>
  </div>
  <app-main-title></app-main-title>
  <div
    class="w-full max-w-md p-8 transition-all transform bg-white rounded-lg shadow-2xl dark:bg-gray-800 animate-fade-in">

    <h2 class="mb-8 text-3xl font-bold text-center text-gray-900 dark:text-white">Sign In</h2>
    <form [formGroup]="signInForm" (ngSubmit)="submitSignIn()">
      <div class="mb-4">
        <label for="email" class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">
          <i class="mr-2 text-indigo-600 fas fa-envelope"></i>Email
        </label>
        <input formControlName="email" type="email" id="email"
          class="block w-full px-3 py-2 mt-1 mb-2 transition-all border border-gray-300 rounded-lg shadow-sm dark:border-gray-600 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:text-white"
          placeholder="Enter your email" required>
        @if (signInForm.get('email')?.errors && signInForm.get('email')?.touched) {
        <div class="alert">
          @if (signInForm.get('email')?.getError('required')) {
          <li>Email is required</li>
          }@else if (signInForm.get('email')?.getError('pattern')) {
          <li>Invalid email format. Please enter a valid email address.</li>
          }
        </div>
        }
        @else if (errMsg === 'email not exist') {
        <div class="alert">
          <li>{{errMsg}}</li>
        </div>
        }
      </div>

      <div class="mb-4">
        <label for="password" class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">
          <i class="mr-2 text-indigo-600 fas fa-lock"></i>Password
        </label>
        <div class="relative">
          <input formControlName="password" type="password" id="password"
            class="block w-full px-3 py-2 mt-1 mb-2 transition-all border border-gray-300 rounded-lg shadow-sm dark:border-gray-600 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:text-white"
            placeholder="Enter your password" required>
          <div class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer"
            (click)="passType.togglePasswordVisibility()">
            <i id="eyeIcon" class="text-gray-500 fas fa-eye"></i>
          </div>
        </div>
        @if (signInForm.get('password')?.errors && signInForm.get('password')?.touched) {
        <div class="alert">
          @if (signInForm.get('password')?.getError('required')) {
          <li>Password is required</li>
          }@else if (signInForm.get('password')?.getError('pattern')) {
          <li>Invalid email format. Please enter a valid email address.</li>
          }
        </div>
        }@else if (errMsg === 'invalid password') {
        <div class="alert">
          <li>{{errMsg}}</li>
        </div>
        }
      </div>





      <button [disabled]="signInForm.invalid" [ngClass]="{
        'cursor-not-allowed hover:scale-100 active:scale-100': signInForm.invalid,
        'cursor-pointer hover:scale-105 active:scale-95': !signInForm.invalid
    
          }" class="w-full px-4 py-2 text-white transition-all transform bg-indigo-600 rounded-lg hover:bg-indigo-700">
        @if (resState) {
        <i class="ml-2 mr-3 text-gray-400 fas fa-spinner fa-spin"></i>
        } @else {
        <i class="mr-2 fas fa-user-plus"></i>
        Sign In
        }
      </button>
    </form>
    <p class="mt-6 text-center text-gray-600 dark:text-gray-400">
      Don't have an account?
      <a [routerLink]="['/signup']" class="text-indigo-600 dark:text-indigo-400 hover:underline">Sign Up</a>
    </p>
  </div>
</div>